<a href="https://colab.research.google.com/github/ayshalbt/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Programmming%20Exercise-Session%2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. write a python program to get the largest number from a list.

In [1]:
list1 = [77,56,22,23,98] 
list1.sort() 
print("Largest number in the list is:", list1[-1])

Largest number in the list is: 98

2. write a program code to search an element in a list.

In [5]:
def search(list,item):
  for i in range(len(list)):
    if list[i] == item:
      return True
  return False
list = ['mango',2,7,'fruit',8]
item = 'mango'
if search(list,item):
  print("Found the element in list")
else:
  print("Not Found")

Found the element in list

3. write a python program to sum all the items in a list.

In [9]:
list1 = [4,8,9,10]
newlist = sum(list1)
print("sum of all numbers in the list:",newlist)

sum of all numbers in the list: 31

4. write a python program to remove duplicates from a list.

In [11]:
mylist = [1,3,4,7,4,3,1,2,1]
newlist = set(mylist)
print(newlist)

{1, 2, 3, 4, 7}

5. write a python function that takes two lists and returns trueif they have at least one common member.

In [12]:
def common_data(list1,list2):
  result = False
  for i in list1:
    for j in list2:
      if i == j:
        result = True
        return result
  return result
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]
print(common_data(list1,list2))

True

6. write a python program to append a list to the second list.

In [15]:
l1 = [1,2,3]
l2 = ["dubai","france","italy"]
l1.extend(l2)
print("New list is",l1)

New list is [1, 2, 3, 'dubai', 'france', 'italy']

7. Write a python to check if a given number is a composite number or not?

In [20]:
n= int(input("Enter the number: "))
factor=0
for i in range(1,n):
  if n%i==0:
    factor=i
if factor>1:
  print("This is a composite number")
elif n==1:
  print("The number 1 is neither prime nor composite")
else:
  print("This is not a composite number")

Enter the number: 5
This is not a composite number

8.write a python code to add two matrices using list.

In [35]:
X = [[1,2,3],[4,5,6],[7,8,9]] 
Y = [[9,8,7],[6,5,4],[3,2,1]] 
result = [[X[i][j] + Y[i][j]  for j in range
(len(X[0]))] for i in range(len(X))] 
for r in result: 
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

9.write a python program to check of a string is palindrome or not.

In [32]:
string = input("enter a string:")
revstring = string[::-1]
if(revstring==string):
    print("This is a palindrome string")
else:
    print("This is not a palindrome string")

enter a string:Malayalam
This is not a palindrome string

10.write a python to print multiplication table of a number.

In [33]:
n = int(input("enter the value"))
i = 1
while(i<=10):
  print(i, "*",n,"=",i*n)
  i = i+1
print()

enter the value6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60